:root {
  --main-col: #3a3f5a;
  --secondary-col: #c3ccde;
}

#applet-container {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

#applet {
    font-family: sans-serif;
    color: var(--main-col);
    font-size: 1.5em;
    width: 545px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background: transparent;
    padding: 0 0 1em 0;
    user-select: none;
}


.axis line{
  stroke: var(--main-col);
}

.axis path{
  stroke: var(--main-col);
}

.axis text{
  fill: var(--main-col);
}

.masterCtrl {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.toggle {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.toggle > div, details {
	margin: 3px 10px 0 10px;
}

.toggle > span {
	margin-top: 3px;
}

#location, #spread {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  align-items: flex-end;
}

#equation {
	width: max-content;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#switches {
	width: max-content;
	display: flex;
	flex-direction: column;
	height: max-content;
	flex-wrap: wrap;
}

#switches > div {
	margin: 5px 0;
}

#buttons {
	width: max-content;
	display: flex;
	flex-direction: column;
	height: max-content;
	flex-wrap: wrap;
}
#buttons > div {
	margin: 5px 0;
}

details > summary {
  list-style: none;
  pointer-events: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

details > div {
	margin: 10px 0 5px 0;
}

button {
  border-radius: 10px;
  border: solid 1px var(--main-col);
  height: 40px;
  width: max-content;
  font-size: 1em;
  color: var(--main-col);
  background: var(--secondary-col);
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover:active, button.pressed {
    background: var(--main-col);
    color: var(--secondary-col);
    border-color: var(--secondary-col);
}

button#reset {
  background: #e478f2;
  color: var(--main-col);
  border-color: var(--main-col);
}

button#reset:hover:active {
  background: #c32dd7;
  color: var(--secondary-col);
  border-color: var(--secondary-col);
}

#plot {
	border: solid 1px;
	/* padding: 0 0 1em 0; */
	background: var(--secondary-col);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.5em;
	height: max-content;
}

svg {
  cursor: pointer;
}

#medDiv, #meanDiv, #sdDiv {
  display: block;
  margin-top: 10px;
}

.devLine, #rangeLineHoriz, #rangeLineLeft,
#rangeLineRight {
  fill: none;
  shape-rendering: crispEdges;
}

#rangeLineToMax, #rangeLineToMin {
  fill: none;
}

.devLab {
	font-size: 11px;
	text-anchor: middle;
	color: var(--main-col);
}

#spread.hidden, #location.hidden, #equation .hidden, .hidden {
  display: none;
}

circle.dot {
  stroke: #3adb25;
  fill: #009d18;
}

.dot.selected {
	stroke: #eadc66;
	fill: #f7ff00;
}
/* from w3 schools https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-col);
  -webkit-transition: .4s;
  transition: .4s;
  border: solid 1px var(--main-col);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--main-col);
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.twoway .slider {
  background-color: var(--main-col);
}

.twoway .slider:before {
  background-color: var(--secondary-col);
  border: solid 1px var(--main-col);
  bottom: 2px;
  left: 2px;
}

.twoway input:checked + .slider {
  background-color: #c32dd7;
}

.svg-drag-select-area-overlay {
  border: 1px dotted gray;
  background-color: rgba(255,255,255,.4);
}
