:root {
  --main-col: #3a3f5a;
}

#applet {
    font-family: sans-serif;
    color: var(--main-col);
    font-size: 1.5em;
    width: 545px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background: transparent;
    padding: 0 0 1em 0;
}


.axis line{
  stroke: var(--main-col);
}

.axis path{
  stroke: var(--main-col);
}

.axis text{
  fill: var(--main-col);
}

#panel {
  display: flex;
  margin: .1em
}

#equation {
  padding: 0 1em;
  width: max-content;
  display: block;
}

#buttons {
  width: 20%;
  display: block;
}

button {
  border-radius: 10px;
  border: solid 1px var(--main-col);
  height: 40px;
  width: 90px;
  font-size: 1em;
  color: var(--main-col);
  background: #c3ccde;
  cursor: pointer;
  margin-bottom: .3em;
}

button:focus {
  outline: none;
}

button:hover:active, button.pressed {
    padding: 0;
    background: var(--main-col);
    color: #c3ccde;
    border-color: #c3ccde;
}

#plot {
	border: solid 1px;
	/* padding: 0 0 1em 0; */
	background: #c3ccde;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.5em;
	height: max-content;
}

svg {
  cursor: pointer;
}

#medDiv, #meanDiv, #sdDiv {
  display: block;
  margin-top: 10px;
}

#meanDiv.hidden, #medDiv.hidden, #sdDiv.hidden {
  display: none;
}
