body {
  font-family: sans-serif;
}
#app {
  display: flex;
  padding: 4rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

#ctrl {
  background: #000;
  color: #fff;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
#result {
  display: none;
  &[open] {
    display: flex;
  }
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

button {
  width: fit-content;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 1rem;
  transition: all 0.3s;
  &.active {
    background: #000;
    color: #fff;
  }
}
#board {
  display: grid;
  border: solid 2px #000;
  width: fit-content;

  & > div {
    height: 2rem;
    width: 2rem;
    border: solid 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  #app {
    flex-direction: column;
  }
}
