:root {
  --main-col: #3a3f5a;
  --secondary-col: #c3ccde;
}

#applet {
    font-family: sans-serif;
    color: var(--main-col);
    font-size: 1.5em;
    width: 545px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background: transparent;
    padding: 0 0 1em 0;
    user-select: none;
}

#plot.error::after {
	content: "Order of operations!";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 115px 100px;
	text-align: center;
	color: #d00;
	background: var(--secondary-col);
	border: solid 2px #d00;
	border-radius: 10px;
	font-weight: bold;
	padding-top: 50px;
}

#plot.error::before {
	content: "";
	background: #00000055;
	top: 0;
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
}


button {
  border-radius: 10px;
  border: solid 1px var(--main-col);
  height: 40px;
  width: max-content;
  font-size: 1em;
  color: var(--secondary-col);
  background: var(--main-col);
  cursor: pointer;
  min-width: 50px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:hover:active {
    background: var(--secondary-col);
    color: var(--main-col);
    border-color: var(--main-col);
}


.axis line, .axis path, .line, .graph line, .vert-line, path.dashed, line.dashed {
  stroke: var(--main-col);
  fill: none;
}

.axis text, .axis.lab {
  fill: var(--main-col);
}

.ital {
	font-family: serif;
	font-style: italic;
  margin: 0 5px;
}

circle {
  stroke: var(--main-col);
  stroke-width: 1.5px;
}


.graph line.mu {
  stroke: #df03fc;
  stroke-width: 2px;
}

.sigma {
  fill: #0ab77e88;
}

.sigma.stdNrm{
  fill: #df03fc6d;
}

.graph line.mu.stdNrm {
  stroke: #0ab77e;
}

path.line {
  stroke-width: 1.5px;
}

path.dashed, line.dashed {
  stroke-width: 1px;
  stroke-dasharray: 5;
  shape-rendering: crispEdges;
}


#box {
	border: solid 1px;
	/* padding: 0 0 1em 0; */
	background: var(--secondary-col);
	border-radius: 10px;
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
	height: max-content;
  position: relative;
}


#ctrls {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 1em;
  line-height: 70px
}

#addInput {
  background: #df03fc88;
  margin-right: 0;
}

#addInput.disabled {
  background: var(--secondary-col);
  cursor: not-allowed;
}

#multInput {
  background: #0ab77e88;
}


.input {
  overflow: hidden;
	cursor: col-resize;
  width: 70px;
  margin: 0 10px;
  border-radius: 50%;
}

.params {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 0.5em;
	align-items: flex-end;
	margin-left: 2em;
}

#muOut, #sigmaOut {
	width: 70px;
	display: inline-block;
	margin-left: 5px;
}
